body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3EA77B;
}
 a:link {
  color: red;
}

a:visited {
  color:#A5A6D5;
}

a:hover {
  color: hotpink;
}

a:active {
  color: blue;
} 

h1 {
  color: #84DFA5;
  text-align: left;
}

div {
  font-family: verdana;
  font-size: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
